{% for row in rows %}

<div class="row small {{row.emphasis}}">
    <div class="col-5"> {# Reserve 5/12 of the row for the product name #}
        {# In here, 'offset-2' means 2/12 of the space allocated to the product name#}
        <div class="col offset-{{row.indent}}">
            {{row.product_name}}
        </div>
    </div>

    <div class="col-1">
        {{row.vat}}
    </div>
    <div class="col-1">
        {{row.duty}}
    </div>
    <div class="col-1">
        {{row.revenue}}
    </div>
    <div class="col-1">
        {{row.price}}
    </div>
    <div class="col-1">
        {{row.volume}}
    </div>
    <div class="col-2"> {# Reserve 2/12 of the row for the code #}
        {{row.code}}
    </div>
</div>

<div class="row">
    <div class="col-12">
        <HR/>
    </div>
</div>

{% endfor %}
