{% for row in rows %}

<div class="row small" >
    <div class="col-3"> {# Reserve 3/12 of the row for the product name #}
        {# In here, 'offset-2' means 2/12 of the space allocated to the product name#}
        <div class="col offset-{{row.indent}}">
            {{row.product_name}}
        </div>
    </div>
    <div class="col-1">
        {{row.vat}}
    </div>
    <div class="col-1">
        {{row.duty}}
    </div>
    <div class="col-1">
        {{row.revenue}}
    </div>
    <div class="col-1">
        {{row.price}}
    </div>
    <div class="col-1">
        {{row.volume}}
    </div>
    <div class="col"> {# Let the commodity code take the rest #}
        {{row.code}}
    </div>

</div>

<div class="row" >
    <div class="col-12">
        <HR/>
    </div>
</div>

{% endfor %}
